<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
	http://www.springframework.org/schema/security 
        http://www.springframework.org/schema/security/spring-security.xsd
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<sec:http pattern="/login.xhtml" security="none" />
	<sec:http pattern="/templates/**" security="none" />
	<sec:global-method-security secured-annotations="enabled"/>

	<sec:http>
		<sec:csrf disabled="true"/>
		<sec:intercept-url pattern="/init.xhtml"
			access="hasRole('ROLE_USER')" />

		<sec:form-login login-page="/login.xhtml"
			default-target-url="/init.xhtml"/>
		<sec:logout logout-success-url="/login.xhtml"
			invalidate-session="true" delete-cookies="JSESSIONID" />
	</sec:http>

	<bean id="loggerListener"
		class="com.lam.recursoshumanoscenicco.security.CustomLoggerListener" />
		
	<sec:authentication-manager alias="authenticationManager">
		<sec:authentication-provider
			user-service-ref="userDetailsService" >
			<sec:password-encoder ref="passwordEncoder"/>
			 </sec:authentication-provider>
	</sec:authentication-manager>

	<bean id="passwordEncoder"
	        class="org.springframework.security.crypto.password.NoOpPasswordEncoder" factory-method="getInstance"/>


</beans>